body{
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.carousel-inner{
    z-index: 0;
}

section.menuPrincipal{
    background-color: #4a471e;
    padding: 10px 0;
}

.menuPrincipal .row{
    border-block-end: 1px solid white;
    margin: 0 30px;
}

.tituloSitio{
    color: white;
    font-size: 40pt;
    text-align: center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link{
    color: #bcbaaf;
}

.menu li a:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.BannerPrincipal img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.imgContenedor{
    width: 100%;
}

.imgContenedor2{
    height: 330px;
}

.textoInfografia{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: end;
}

.seccionFinal{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

.pieDePagina{
    background-color: #4a471e;
    max-height: 200px;
}

.pieDePagina p{
    color: white;
}

@media (min-width: 1200px) {
    .imgContenedor:hover{
        transition: 3s;
        transform: scale(2.5);
    }
    
    .imgContenedor2:hover{
        transition: 3s;
        transform: scale(1.7);
    }    
}