<html lang="es">
    <head>
        <title>Gusshi-ART - Carbones</title>
        <meta name="description" content="Galería de Arte Gussie">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 max-scale=5.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../img/GG opaco.png" type="image/x-icon">
    </head>

    <body>
        <header>
            <section class="menuPrincipal">
                <div class="">
                    <div class="tituloSitio">
                        <img style="max-width: 340px;" class="pb-4" src="../img/GG opaco.png" alt="">
                    </div>
                    <div class="menu">
                        <ul class="nav nav-fill justify-content-center">
                            <li><a class="nav-link" href="../index.html">Bio</a></li>
                            <li><a class="nav-link" href="Galeria.html">Galeria</a></li>
                            <li><a class="nav-link" href="Carbones.html">Carbones</a></li>
                            <li><a class="nav-link" href="Tintas.html">Tintas</a></li>
                            <li><a class="nav-link" href="Oleos.html">Óleos</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>

        <main>
            <p style="text-align: center;">PÁGINA EN CONSTRUCCIÓN</p>
        </main>

        <footer class="pieDePagina">
            <p>Copyright (©) 2023 Gusshi-ART - Todos los derechos reservados</p>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        </footer>
    </body>
</html>